<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="/css/login.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Quicksand&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
	<center>
		<div id="login-container">
			<div id="login-head">
				<p>
					<strong style="font-size: 3rem;">IMS</strong><br>Engineering College
				</p>
			</div>
			<form id="login-form">
				<div id="logo">
					<img src="/images/logo.png" height="150px" width="150px"> 
				</div>
				<div id="login-user">
					<i class="fas fa-user"></i>&nbsp;
					<input type="text" name="" placeholder="College ID" required>
				</div>
				<div id="login-pass">
					<i class="fas fa-key"></i>&nbsp;
					<input type="password" name="" placeholder="Password" required>
				</div>
				<div id="forget-pass" style="font-size: 1rem; width: 80%; display: flex; justify-content: space-between;">
					<div>
						<button class="submit"><b>LOGIN</b></button>
					</div>
					<div>
						<a href="" style="text-decoration: none; color: grey;">Forgot password?</a>
					</div>
				</div>
			</form>
		</div>
	</center>
</body>
</html>

<!-- <link rel="stylesheet" href="/css/login.css">

<center>
		<div id="login-container">
			<div id="login-head">
				<p>
					<strong style="font-size: 3rem;">IMS</strong><br>Engineering College
				</p>
			</div>
			<form id="login-form">
				<div id="logo">
					<img src="/images/logo.png" height="150px" width="150px"> 
				</div>
				<div id="login-user">
					<i class="fas fa-user"></i>&nbsp;
					<input type="text" name="" placeholder="College ID" required>
				</div>
				<div id="login-pass">
					<i class="fas fa-key"></i>&nbsp;
					<input type="password" name="" placeholder="Password" required>
				</div>
				<div id="forget-pass" style="font-size: 1rem; width: 80%; display: flex; justify-content: space-between;">
					<div>
						<button class="submit"><b>LOGIN</b></button>
					</div>
					<div>
						<a href="" style="text-decoration: none; color: grey;">Forgot password?</a>
					</div>
				</div>
			</form>
		</div>
</center> -->